html,
body {
  height: 100%;
}

#calculator {
  background-color: grey;
  border-style: double;
  height: 75%;
  margin: 5% 30% 5% 30%;
  /* padding: 5% 25% 5% 25%; */
}

#display {
  background-color: white;
  border-style: solid;
  height: 15%;
  width: auto;
  margin: 2% 5% 2% 5%;
  padding-right: 2%;
  line-height: 1.5em;
  font-size: 5em;
  text-align: right;
}

#buttonLayout {
  height: 80%;
  margin: 2% 5% 2% 5%;
  font-size: 2em;
}

.row {
  margin-top: 5%;
  margin-bottom: 2%;
}

button {
  font-size: 100%;
  border-radius: 20%;
  margin: 2%;
  padding: 4%;
}
